.box-item {
  flex: 0 1 25%;
}

.box-item .box-inner {
  border: 1px solid #e9e9e9;
  padding: 0 15px 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.box-item p {
  font-size: 16px;
}

.box-item:nth-child(n+5) {
  margin-top: 30px;
}

/* tablet styles */
@media (max-width: 769px) {
  .box-item {
    flex-basis: 50%;
  }

  .box-item:nth-child(n+3) {
    margin-top: 30px;
  }

  .second-cont .inner {
    flex-direction: column-reverse;
  }

  .second-cont .content-box {
    padding-left: 0;
    margin-bottom: 30px;
  }
}

/* mobile styles */
@media (max-width: 426px) {
  .box-item {
    flex-basis: 100%;
  }

  .box-item:nth-child(n+2) {
    margin-top: 30px;
  }
}